@model IList<VideoRent.Models.Rental>
@{
    ViewBag.Title = "Rental Analization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Rental Analization</h2>
<table id="rentals" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Movie</th>
        <th>Date Rented</th>
        <th>Date Returned</th>
    </tr>
    </thead>
</table>
<div id="chartdiv" style="width: 600px; height: 350px;">
</div>

@section scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script type="text/javascript" src="/Scripts/RentalAnalization/RentalAnalizationDataTable.js"></script>
    <script type="text/javascript" src="/Scripts/RentalAnalization/RentalGoogleChart.js"></script>
    <script type="text/javascript" src="/Scripts/RentalAnalization/Initialization.js"></script>
}

